BasedOnStyle: Google

ColumnLimit: 100


PointerAlignment: Left
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak

BinPackParameters: BinPack
BinPackArguments: true

BreakTemplateDeclarations: MultiLine
SpaceAfterTemplateKeyword: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

