Checks:
  - 'bugprone-*' # Enable all checks from the bugprone category
  - 'performance-*'
  - 'clang-analyzer-*'
  # Enable specific checks
  - 'readability-identifier-naming'
  - 'cppcoreguidelines-pro-type-member-init'
  - 'cppcoreguidelines-slicing'
  - 'misc-definitions-in-headers'
  - 'modernize-use-nullptr'
  - 'modernize-use-override'
  - 'modernize-loop-convert'
  # Disabled checks
  - '-clang-diagnostic-*'
  - '-bugprone-easily-swappable-parameters'
  - '-performance-enum-size'
  - '-bugprone-branch-clone'

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: "_"
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
