BasedOnStyle: Google

ColumnLimit: 100


PointerAlignment: Left
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak

BinPackParameters: BinPack
BinPackArguments: true

BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterCaseLabel: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyRecord: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  IndentBraces: false

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: Inline
